<form id="pagerForm" action="{% url accounts_searchback_ldap %}" method="post">
	<input type="hidden" name="pageNum" value="{{ currentPage }}" />
	<input type="hidden" name="numPerPage" value="{{ numPerPage }}" />
</form>

<script type="text/javascript">
  	if(typeof(dwzinit)=='undefined') {
		self.location="/"
  	}
</script>

<div class="page">
<div class="pageHeader">
	<form rel="pagerForm" method="post" action="{% url accounts_searchback_ldap %}" onsubmit="return dwzSearch(this, 'dialog');">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td style="padding-right:1px;">
					<input type="hidden" name="numPerPage" value="{{ numPerPage }}" />
					用户名称：<input type="text" name="keyword_name" value="{{ keyword_name }}" />&nbsp;&nbsp;
					邮箱地址：<input type="text" name="keyword_mail" value="{{ keyword_mail }}" />
				</td>
			</tr>
		</table>
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
			</ul>
		</div>
	</div>
	</form>
</div>
<div class="pageContent">

	<table class="table" layoutH="118" targetType="dialog" width="100%">
		<thead>
			<tr>
				<th width="5%" align="center">序号</th>
				<th width="10%">名称</th>
				<th width="10%">职务</th>
				<th width="12%">商务电话</th>
				<th width="30%">部门</th>
				<th width="20%">邮箱地址</th>
				<!-- 
				<th>位置</th>
				<th>单位</th>
				<th>别名</th>
				 -->
				<th width="10%">查找带回</th>
			</tr>
		</thead>
		<tbody>
		   {% for user_obj in user_list.object_list %}
           <tr>
           <td>{{ numPerPage|append:currentPage|calculatelinenum:forloop.counter }}</td>
           <td>{{ user_obj.cn }}</td>
           <td>{{ user_obj.title }}</td>
           <td>{{ user_obj.telephoneNumber }}</td>
           <td>{{ user_obj.department }}</td>
           <td>{{ user_obj.mail }}</td>
           <!-- 
           <td>{{ user_obj.physicalDeliveryOfficeName }}</td>
           <td>{{ user_obj.company }}</td>
           <td>{{ user_obj.mailNickname }}</td>
            -->
           <td>
				<a class="btnSelect" href="javascript:$.bringBackT({username:'{{ user_obj.mailNickname }}', 
																	email:'{{ user_obj.mail }}'
																	})" title="查找带回">选择</a>
		   </td>
           </tr>
           {% endfor %}
		</tbody>
	</table>

	<div class="panelBar">
		<div class="pages">
			<span>每页显示</span>
			<select class="combox" name="numPerPage" onchange="dialogPageBreak({numPerPage:this.value})">
			{% include "common/select.html" %}
			</select>
			<span>条,共{{ user_list.paginator.count }}条</span>
		</div>
		<div class="pagination" targetType="dialog" totalCount="{{ user_list.paginator.count }}" numPerPage="{{ user_list.paginator.per_page }}" pageNumShown="5" currentPage="{{ currentPage }}"></div>
	</div>
	
</div>
</div>
