<form id="pagerForm" action="{% url rack_index %}" method="post">
	<input type="hidden" name="pageNum" value="{{ currentPage }}"/>
	<input type="hidden" name="numPerPage" value="{{ numPerPage }}"/>
	<input type="hidden" name="orderField" value="{{ orderField }}" />
	<input type="hidden" name="orderDirection" value="{{ orderDirection }}" />
</form>

<script type="text/javascript">
  	if(typeof(dwzinit)=='undefined') {
		self.location="/"
  	}
</script>

<div class="page">
	<div class="pageHeader">
		<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="{% url rack_index %}" method="post">
		<div class="searchBar">
			<table class="searchContent">
				<tr>
					<td>
						<input type="hidden" name="numPerPage" value="{{ numPerPage }}" />
						机房编号：<input type="text" name="nocid" value="{{ nocid }}" />&nbsp;&nbsp;&nbsp;
						机架编号：<input type="text" name="query" value="{{ query }}" />
					</td>
					<td><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></td>
				</tr>
			</table>
		</div>
		</form>
	</div>

	<div class="pageContent">
		<div class="panelBar">		
			<ul class="toolBar">
			{% for authority in request.session.authority_list_button %}
				{% ifequal 'rackadd' authority %}
				<li><a class="add" href="{% url rack_add %}" target="dialog" mask="true" width="800" height="600" title="添加机架" rel="addreource"><span>新增</span></a></li>
				{% endifequal %}
				{% ifequal 'rackdelete' authority %}
                <li><a title="确实要删除这些记录吗?" target="selectedTodo" rel="ids" postType="string" href="{% url rack_selecteddelete %}" class="delete"><span>批量删除</span></a></li>             
				{% endifequal %}
				{% ifequal 'rackimport' authority %}
                <li class="line">line</li>
           	  	<li><a class="icon" href="{% url rack_uploadfile %}" target="dialog" mask="true" width="500" height="300" title="导入csv文件" rel="uploadfileresource"><span>导入CSV文件</span></a></li>
				{% endifequal %}
				{% ifequal 'rackexport' authority %}
                <li><a class="icon" href="{% url rack_downloadfile %}" target="dwzExport" targetType="navTab" title="确定要导出这些记录吗？"><span>导出CSV文件</span></a></li>
				{% endifequal %}
            {% endfor %}
			</ul>
		</div>

		<table class="table" width="100%" layoutH="116">
			<thead>
			<tr>
				<th width="2%"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
				<th width="3%">序号</th>
			{% ifequal orderDirection 'asc' %}
				<th width="12%" orderField="nocinfo__nocid" class="asc">机房编号</th>
			{% else %}
				<th width="12%" orderField="nocinfo__nocid" class="desc">机房编号</th>
			{% endifequal %}
			{% ifequal orderDirection 'asc' %}
				<th width="8%" orderField="nocinfo__isp__ispName" class="asc">运营商名称</th>
			{% else %}
				<th width="8%" orderField="nocinfo__isp__ispName" class="desc">运营商名称</th>
			{% endifequal %}
				<th width="8%">城市</th>
			{% ifequal orderDirection 'asc' %}
				<th width="12%" orderField="rackid" class="asc">机架编号</th>
			{% else %}
				<th width="12%" orderField="rackid" class="desc">机架编号</th>
			{% endifequal %}
			{% for authority in request.session.authority_list_modulefield %}
			{% ifequal 'rackrated_amp' authority %}
				<th width="8%">额定电流(mA)</th>
	        {% endifequal %}
			{% ifequal 'rackused_amp' authority %}
				<th width="10%">已使用电流(mA)</th>
	        {% endifequal %}
			{% ifequal 'rackspace' authority %}
				<th width="10%">机架总空间(U)</th>
	        {% endifequal %}
			{% ifequal 'rackleft_space' authority %}
				{% ifequal orderDirection 'asc' %}
					<th width="10%" orderField="left_space" class="asc">机架剩余空间(U)</th>
				{% else %}
					<th width="10%" orderField="left_space" class="desc">机架剩余空间(U)</th>
				{% endifequal %}
	        {% endifequal %}
			{% endfor %}
				<th width="7%">机架状态</th>
				<th width="12%">操作</th>
			</tr>
			</thead>
			<tbody>
		{% ifcontain 'rackselect' request.session.authority_list_button %}
		   {% for rack in racks.object_list %}
           <tr target="sid_group" rel="{{ rack.id }}">
           <td><input name="ids" value="{{ rack.id }}" type="checkbox"></td>
           <td>{{ numPerPage|append:currentPage|calculatelinenum:forloop.counter }}</td>
           <td><a href="{% url nocinfo_relate_nocnetinfoORrack_link_nocinfo rack.nocinfo.id %}" target="navTab" rel="nocinfoindex" title="机房管理" >{{ rack.nocinfo.nocid }}</a></td>
           <td>{{ rack.nocinfo.isp.ispName }}</td>
           <td>{{ rack.nocinfo.city }}</td>
           <td>{{ rack.rackid }}</td>
        {% for authority in request.session.authority_list_modulefield %}
		{% ifequal 'rackrated_amp' authority %}
           <td>{{ rack.rated_amp }}</td>
        {% endifequal %}
		{% ifequal 'rackused_amp' authority %}
           <td>{{ rack.used_amp }}</td>
        {% endifequal %}
		{% ifequal 'rackspace' authority %}
           <td>{{ rack.space }}</td>
        {% endifequal %}
		{% ifequal 'rackleft_space' authority %}
           <td>
           	{% if rack.left_space < 0 %}
           		{{ 0 }}
           	{% else %}
            	{{ rack.left_space }}
           	{% endif %}
           </td>
        {% endifequal %}
		{% endfor %}
           <td>
           		{% for key,value in rack_status_dict.items %}
					{% ifequal rack.status key %}
							{{ value }}
					{% endifequal %}
				{% endfor %}
           </td>
           <td>
           {% for authority in request.session.authority_list_button %}
	           {% ifequal 'rackedit' authority %}
	              <a class="btnedit" href="{% url rack_edit rack.id %}" target="dialog" mask="true"  width="800" height="600" rel="editresource" title="编辑"><span>编辑</span></a>
	           {% endifequal %}
	           {% ifequal 'rackdelete' authority %}
	              <a class="btndelete" href="{% url rack_delete rack.id %}" target="ajaxTodo"  rel="deleteres" title="您确定要删除该项吗？"><span>删除</span></a>
	           {% endifequal %}
           {% endfor %}
              <a class="btnlink" href="{% url equipment_relate_rack_link_equipment rack.id %}" target="navTab"  rel="equipmentindex" title="设备管理"><span>关联</span></a>
              <a class="btnselect" href="{% url log_changerecord 3,rack.id %}" target="dialog" mask="true"  width="800" height="600" rel="editresource" title="查看变更记录"><span>查看</span></a>
           </td>
           </tr>
           {% endfor %}
		{% else %}
		   <tr><td align="center"><div>无查询权限</div></td></tr>
		{% endifcontain %}
			</tbody>
		</table>
		<div class="panelBar">
			<div class="pages">
				<span>每页显示</span>
				<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
				{% include "common/select.html" %}
				</select>
				<span>条,共{{ racks.paginator.count }}条</span>
			</div>
			<div class="pagination" targetType="navTab" totalCount="{{ racks.paginator.count }}" numPerPage="{{ racks.paginator.per_page }}" pageNumShown="10" currentPage="{{ currentPage }}"></div>
		</div>
		
	</div>
</div>

