<script type="text/javascript">
  	if(typeof(dwzinit)=='undefined') {
		self.location="/"
  	}
</script>

<div class="page">
	<div class="pageContent">
	
	<form method="post" action="{% url softform_add %}" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">{% csrf_token %}
		<input type="hidden" name="navTabId" value="softformindex"/>
		<div class="pageFormContent" layoutH="58">

			<div class="unit">
				<label>软件类型：</label>
				<input type="text" class="required" size="30"  name="soft_type" value="" />
			</div>
			<div class="unit">
				<label>软件包名称：</label>
				<input type="text" class="required" size="30" name="soft_name" value="" />
			</div>
            <div class="unit">
				<label>版本：</label>
				<input type="text" size="30" name="version" value="" />
			</div>
            <div class="unit">
				<label>操作系统：</label>
				<input type="text" size="30" name="os" value="" />
			</div>
			<div class="unit">
				<label>操作系统位数：</label>
				<input type="text" size="30" name="os_byte" value="" />
			</div>
			<div class="unit">
				<label>操作系统版本：</label>
				<input type="text" size="30" name="os_version" value="" />
			</div>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
	</div>
</div>