<form id="pagerForm" action="{% url softform_index %}" method="post">
	<input type="hidden" name="pageNum" value="{{ currentPage }}"/>
	<input type="hidden" name="numPerPage" value="{{ numPerPage }}"/>
	<input type="hidden" name="orderField" value="{{ orderField }}" />
	<input type="hidden" name="orderDirection" value="{{ orderDirection }}" />
</form>

<script type="text/javascript">
  	if(typeof(dwzinit)=='undefined') {
		self.location="/"
  	}
</script>

<div class="page">
	<div class="pageHeader">
		<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="{% url softform_index %}" method="post">
		<div class="searchBar">
			<table class="searchContent">
				<tr>
					<td>
						<input type="hidden" name="numPerPage" value="{{ numPerPage }}" />
						软件类型：<input type="text" name="soft_type" value="{{ soft_type }}" />&nbsp;&nbsp;&nbsp;
						软件包名称：<input type="text" name="soft_name" value="{{ soft_name }}" />
					</td>
					<td><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></td>
				</tr>
			</table>
		</div>
		</form>
	</div>

	<div class="pageContent">
		<div class="panelBar">		
			<ul class="toolBar">
			{% ifcontain 'softformadd' request.session.authority_list_button %}
				<li><a class="add" href="{% url softform_add %}" target="dialog" mask="true" width="800" height="600" title="新增基础应用模板" rel="addreource"><span>新增</span></a></li>
			{% endifcontain %}
			{% ifcontain 'softformdelete' request.session.authority_list_button %}
                <li><a title="确实要删除这些记录吗?" target="selectedTodo" rel="ids" postType="string" href="{% url softform_selecteddelete %}" class="delete"><span>批量删除</span></a></li>             
			{% endifcontain %}
			</ul>
		</div>

		<table class="table" width="100%" layoutH="116">
			<thead>
			<tr>
				<th width="2%"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
				<th width="3%">序号</th>
			{% ifequal orderDirection 'asc' %}
				<th width="12%" orderField="soft_type" class="asc">软件类型</th>
			{% else %}
				<th width="12%" orderField="soft_type" class="desc">软件类型</th>
			{% endifequal %}
			
			{% ifequal orderDirection 'asc' %}
				<th width="20%" orderField="soft_name" class="asc">软件包名称</th>
			{% else %}
				<th width="20%" orderField="soft_name" class="desc">软件包名称</th>
			{% endifequal %}
				<th width="12%">版本</th>
				<th width="12%">操作系统</th>
				<th width="12%">操作系统位数</th>
				<th width="12%">操作系统版本</th>
				<th width="15%">操作</th>
			</tr>
			</thead>
			<tbody>
		{% ifcontain 'softformselect' request.session.authority_list_button %}
		   {% for softform in softforms.object_list %}
           <tr target="sid_group" rel="{{ softform.id }}">
           <td><input name="ids" value="{{ softform.id }}" type="checkbox"></td>
           <td>{{ numPerPage|append:currentPage|calculatelinenum:forloop.counter }}</td>
           <td>{{ softform.soft_type }}</td>
           <td>{{ softform.soft_name }}</td>
           <td>{{ softform.version }}</td>
           <td>{{ softform.os }}</td>
           <td>{{ softform.os_byte }}</td>
           <td>{{ softform.os_version }}</td>
           <td>
            {% ifcontain 'softformedit' request.session.authority_list_button %}
           		<a class="btnedit" href="{% url softform_edit softform.id %}" target="dialog" mask="true"  width="800" height="600" rel="editresource" title="编辑"><span>编辑</span></a>
           	{% endifcontain %}
            {% ifcontain 'softformdelete' request.session.authority_list_button %}
	            <a class="btndelete" href="{% url softform_delete softform.id %}" target="ajaxTodo"  rel="deleteres" title="您确定要删除该项吗？"><span>删除</span></a>
           	{% endifcontain %}
           </td>
           </tr>
           {% endfor %}
        {% else %}
		   <tr><td align="center"><div>无查询权限</div></td></tr>
		{% endifcontain %}
			</tbody>
		</table>
		<div class="panelBar">
			<div class="pages">
				<span>每页显示</span>
				<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
				{% include "common/select.html" %}
				</select>
				<span>条,共{{ softforms.paginator.count }}条</span>
			</div>
			<div class="pagination" targetType="navTab" totalCount="{{ softforms.paginator.count }}" numPerPage="{{ softforms.paginator.per_page }}" pageNumShown="10" currentPage="{{ currentPage }}"></div>
		</div>
		
	</div>
</div>

