<script type="text/javascript">
	function dialogTabAjaxDone(json) {
		dialogAjaxDone(json)
		if (json.statusCode == DWZ.statusCode.ok){
			//获取pagerForm参数
			var $panel = $("#jbsxBox_basicinfo")
			var $pagerForm = $("#pagerForm", $panel);
			var args = $pagerForm.size()>0 ? $pagerForm.serializeArray() : {}
			var url = "{% url serverconf_search_test 8 %}";
			//$panel.loadUrl(url, args, function(){navTab._loadUrlCallback($panel);});
			$panel.ajaxUrl({
				type:"POST", url:url, data:args, callback:function(){
					navTab._loadUrlCallback($panel);
				}
			});
		}
	}
	
	function removeMgrIpAddress() {
  		$("#mgrIpAddress").val("");//清空
  		return false;
  	}
	
	function removeOutIpAddress() {
  		$("#outIpAddress").val("");//清空
  		return false;
  	}
  	
</script>

<div class="page">
	<div class="pageContent">
	{% load static %}
	<form method="post" action="{% url serverconf_edit_basicinfo basicinfo.id %}" class="pageForm required-validate" 
		onsubmit="return validateCallback(this, dialogTabAjaxDone)">
		<input type="hidden" name="navTabId" value="jbsxBox_basicinfo"/>
		<div class="pageFormContent" layoutH="58">
			<dl class="nowrap">
				<dt>设备：</dt>
				<dd>
					<input id="serverid" name="org.sequence" type="hidden" readonly="readonly" />
					<input class="required" size="30" name="org.elementid" type="text" readonly="readonly"  value="{{ basicinfo.equipment }}" />
				</dd>
			</dl>
			
			<div class="unit">
				<label>BasicInfo编号：</label>
				<input type="text" class="" size="30"  name="basicinfoid" value="{{ basicinfo.basicinfoid }}" />
			</div>
			<div class="unit">
				<label>操作系统类型：</label>
				<input type="text" class="" size="30"  name="os_type" value="{{ basicinfo.os_type }}" />
			</div>
			<div class="unit">
				<label>操作系统位数：</label>
				<input type="text" class="digits" size="30"  name="os_byte" {% if basicinfo.os_byte %} value="{{ basicinfo.os_byte }}" {% endif %} />
			</div>
			<div class="unit">
				<label>操作系统版本：</label>
				<input type="text" class="" size="30"  name="os_version" value="{{ basicinfo.os_version }}" />
			</div>
			<div class="unit">
				<label>管理方式：</label>
				<input type="text" class="" size="30"  name="manage_way" value="{{ basicinfo.manage_way }}" />
			</div>
			<div class="unit">
				<label>管理账户：</label>
				<input type="text" size="30"  name="manage_account" value="{{ basicinfo.manage_account }}" />
			</div>
			<div class="unit">
				<label>管理密码：</label>
				<input type="text" class="valphanumeric" size="30"  name="manage_password" value="{{ basicinfo.manage_password }}" />
			</div>
			
			<dl class="nowrap">
				<dt>管理IP：</dt>
				<dd>
					<input name="org_0.ipaddress" type="hidden" readonly="readonly" />
					<input size="30" id="mgrIpAddress" name="org_0.ipaddress" type="text" readonly="readonly" value="{{ basicinfo.manage_ip }}" lookupGroup="org_0" />
                    <a class="btnLook" href="/serverconf/searchip/{{ basicinfo.equipment }}:0/" warn="请选择设备" target="dialog" mask="true" width="650" height="400" title="查找带回" lookupGroup="org_0">查找带回</a>		
					<span class="info">(查询IP地址)</span>&nbsp;&nbsp;&nbsp;
					<span class="button"><span class="buttonContent"><button onclick="javascript: removeMgrIpAddress();" type="button">清空</button></span></span>
				</dd>
			</dl>
			
			<div class="unit">
				<label>管理端口：</label>
				<input type="text" class="digits" size="30"  name="manage_port" {% if basicinfo.manage_port %} value="{{ basicinfo.manage_port }}" {% endif %} />
			</div>
			<div class="unit">
				<label>SNMP端口：</label>
				<input type="text" class="digits" size="30"  name="snmp_port" {% if basicinfo.snmp_port %} value="{{ basicinfo.snmp_port }}" {% endif %} />
			</div>
			
			<dl class="nowrap">
				<dt>内网IP：</dt>
				<dd>
					<input name="org_1.ipaddress" type="hidden" readonly="readonly" />
					<input size="30" name="org_1.ipaddress" type="text" readonly="readonly" value="{{ basicinfo.in_ip }}" lookupGroup="org_1" />
                    <a class="btnLook" href="/serverconf/searchip/{{ basicinfo.equipment }}:0/" warn="请选择设备" target="dialog" mask="true" width="650" height="400" title="查找带回" lookupGroup="org_1">查找带回</a>		
					<span class="info">(查询IP地址)</span>
				</dd>
			</dl>
			
			<dl class="nowrap">
				<dt>外网IP：</dt>
				<dd>
					<input name="org_2.ipaddress" type="hidden" readonly="readonly" />
					<input size="30" id="outIpAddress" name="org_2.ipaddress" type="text" readonly="readonly" value="{{ basicinfo.out_ip }}" lookupGroup="org_2" />
                    <a class="btnLook" href="/serverconf/searchip/{{ basicinfo.equipment }}:1/" warn="请选择设备" target="dialog" mask="true" width="650" height="400" title="查找带回" lookupGroup="org_2">查找带回</a>		
					<span class="info">(查询IP地址)</span>&nbsp;&nbsp;&nbsp;
					<span class="button"><span class="buttonContent"><button onclick="javascript: removeOutIpAddress();" type="button">清空</button></span></span>
				</dd>
			</dl>
			
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
	</div>
</div>