<div class="page">
	<div class="pageContent">
	<form method="post" action="{% url asset_asset_damage asset.id %}" class="pageForm required-validate" 
		onsubmit="return validateCallback(this, dialogAjaxDone)">
		<input type="hidden" name="navTabId" value="assetindex"/>
		<div class="pageFormContent" layoutH="58">
			<div class="unit">
				<label>资产编号：</label>
				<input type="text" class="" size="30" name="elementid" value="{{ asset.elementid }}" />
			</div>
			<div class="unit">
				<label>原资产编号：</label>
				<input type="text" class="" size="30" name="old_elementid" value="{{ asset.old_elementid }}" />
			</div>
			<div class="unit">
				<label>服务代码：</label>
				<input type="text" class="" size="30"  name="service_code" value="{{ asset.service_code }}" />
			</div>
			<div class="unit">
				<label>规格：</label>
				<input type="text" size="30"  name="specification" value="{{ asset.specification }}" />
			</div>
			<div class="unit">
				<label>品牌：</label>
				<input type="text" class="" size="30"  name="brand" value="{{ asset.brand }}" />
			</div>
			<div class="unit">
				<label>型号：</label>
				<input type="text" class="required" size="30"  name="model" value="{{ asset.model }}" />
			</div>
			<div class="unit">
				<label>数量：</label>
				<input type="text" size="30"  name="num" {% if asset.num %}value="{{ asset.num }}"{% endif %} />
			</div>
			<div class="unit">
				<label>单价：</label>
				<input type="text" size="30"  name="unit_price" {% if asset.unit_price %}value="{{ asset.unit_price }}"{% endif %} />
			</div>
			<div class="unit">
				<label>购入日期：</label>
				<input type="text" name="purchase_date" class="required date" size="30" format="yyyy-MM-dd" value='{{ asset.purchase_date|date:"Y-m-d" }}' readonly="true" yearstart="-10" yearend="20" />
				<a class="inputDateButton" href="javascript:;">选择</a>
				<span class="info">yyyy-MM-dd</span>
			</div>
			<div class="unit">
				<label>入库单号：</label>
				<input type="text" size="30"  name="in_storage_no" value="{{ asset.in_storage_no }}" />
			</div>
			<div class="unit">
				<label>领取日期：</label>
				<input type="text" name="draw_date" class="date" size="30" format="yyyy-MM-dd" value='{{ asset.draw_date|date:"Y-m-d" }}' readonly="true" yearstart="-10" yearend="20" />
				<a class="inputDateButton" href="javascript:;">选择</a>
				<span class="info">yyyy-MM-dd</span>
			</div>
			<div class="unit">
				<label>出库单号：</label>
				<input type="text" size="30"  name="out_storage_no" value="{{ asset.out_storage_no }}" />
			</div>
			<div class="unit">
				<label>使用人：</label>
				<input type="text" size="30"  name="username" value="{{ asset.username }}" />
			</div>
			<div class="unit">
				<label>申请单号：</label>
				<input type="text" size="30"  name="apply_no" value="{{ asset.apply_no }}" />
			</div>
			<div class="unit">
				<label>对帐标识：</label>
				<select name="reconcile_flag" class="required combox" >
					{% for key,value in reconcile_flag_dict.items %}
						{% ifequal asset.reconcile_flag key %}
							<option value="{{ key }}" selected="selected">{{ value }}</option>
						{% else %}
							<option value="{{ key }}">{{ value }}</option>
						{% endifequal %}
					{% endfor %}
				</select>
			</div>
			<div class="unit">
				<label>部门备注：</label>
				<input type="text" size="30"  name="department_desc" value="{{ asset.department_desc }}" />
			</div>
			<div class="unit">
				<label>资产备注：</label>
				<input type="text" size="30"  name="asset_desc" value="{{ asset.asset_desc }}" />
			</div>
			
			<dl class="nowrap">
				<dt>设备代码：</dt>
				<dd>
					<input size="30" id="equipment_code" name="org1.equipment_code" type="text" value="{{ asset.equipmentcode.equipment_code }}" />
					<a class="btnLook" href="{% url asset_searchback_equipmentcode %}" target="dialog" mask="true" width="600" height="400" title="查找带回" lookupGroup="org1">查找带回</a>
					<span class="info">(查询关联的设备代码)</span>
				</dd>
			</dl>
			<dl class="nowrap">
				<dt>资产归属：</dt>
				<dd>
					<input size="30" id="company_code" name="org2.company_code" type="text" value="{{ asset.companycode.company_code }}" />
					<a class="btnLook" href="{% url asset_searchback_companycode %}" target="dialog" mask="true" width="600" height="400" title="查找带回" lookupGroup="org2">查找带回</a>
					<span class="info">(查询关联的公司代码)</span>
				</dd>
			</dl>
			<dl class="nowrap">
				<dt>使用部门：</dt>
				<dd>
					<input size="30" id="department_code" name="org3.department_code" type="text" value="{{ asset.departmentcode.department_code }}" />
					<a class="btnLook" href="{% url asset_searchback_departmentcode %}" target="dialog" mask="true" width="600" height="400" title="查找带回" lookupGroup="org3">查找带回</a>
					<span class="info">(查询关联的部门代码)</span>
				</dd>
			</dl>
			
			
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
	</div>
</div>