<form id="pagerForm" action="{% url log_index %}" method="post">
	<input type="hidden" name="pageNum" value="{{ currentPage }}"/>
	<input type="hidden" name="numPerPage" value="{{ numPerPage }}"/>
	<input type="hidden" name="ispname" value=""/>
</form>

<script type="text/javascript">
  	if(typeof(dwzinit)=='undefined') {
		self.location="/"
  	}
</script>

{% load common_tags %}

<div class="page">
	<div class="pageHeader">
		<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="{% url log_index %}" method="post">
		<div class="searchBar">
			<table class="searchContent">
				<tr>
					<td class="dateRange">
						日期范围:
						<input type="text" value="{{ dateStart }}" readonly="readonly" class="date" name="dateStart" />
						<span class="limit">-</span>
						<input type="text" value="{{ dateEnd }}" readonly="readonly" class="date" name="dateEnd" />
					</td>
					<td>
						<input type="hidden" name="numPerPage" value="{{ numPerPage }}" />
						用户名称：<input type="text" name="query" value="{{ query }}" />
					</td>
					<td><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></td>
				</tr>
			</table>
		</div>
		</form>
	</div>

	<div class="pageContent">
		<div class="panelBar">
			<!-- 		
			<ul class="toolBar">
				<li><a class="add" href="{% url log_add %}" target="dialog" mask="true" width="800" height="600" title="添加日志" rel="addreource"><span>新增</span></a></li>
                <li><a title="确实要删除这些记录吗?" target="selectedTodo" rel="ids" postType="string" href="{% url log_selecteddelete %}" class="delete"><span>批量删除</span></a></li>             
			</ul>
			 -->
		</div>

		<table class="table" width="100%" layoutH="116">
			<thead>
			<tr>
				<th width="2%">				
				<input type="checkbox" group="ids" class="checkboxCtrl">				
				</th>
				<th width="5%">序号</th>
				<th width="15%">操作时间</th>
				<th width="10%">操作用户</th>
				<th width="40%">操作记录</th>
				<th width="10%">日志级别</th>
				<th width="10%">操作</th>
			</tr>
			</thead>
			<tbody>
		{% ifcontain 'logselect' request.session.authority_list_button %}
		   {% for log in logs.object_list %}
           <tr target="sid_group" rel="{{ log.id }}">
           <td><input name="ids" value="{{ log.id }}" type="checkbox"></td>
           <td>{{ numPerPage|append:currentPage|calculatelinenum:forloop.counter }}</td>
           <td>{{ log.start_time|date:"Y-m-d H:i:s" }}</td>
           <td>{{ log.username }}</td>
           <td>{{ log.content }}</td>
           <td>
           		{% for key,value in log_level_dict.items %}
					{% ifequal log.level key %}
							{{ value }}
					{% endifequal %}
				{% endfor %}
           </td>
           <!-- 
           <td>
              <a class="edit" href="{% url log_edit log.id %}" target="dialog" mask="true"  width="800" height="600" rel="editresource" title="编辑"><span>编辑</span></a>
              <a class="delete" href="{% url log_delete log.id %}" target="ajaxTodo"  rel="deleteres" title="您确定要删除该项吗？"><span>删除</span></a>
           </td>
            -->
            <td>
              <a class="btnselect" href="{% url log_detail log.id %}" target="dialog" mask="true"  width="800" height="600" rel="detail" title="详细信息"><span>查看详细信息</span></a>
            </td>
           </tr>
           {% endfor %}
		{% else %}
		   <tr><td align="center"><div>无查询权限</div></td></tr>
		{% endifcontain %}
			</tbody>
		</table>
		
		<div class="panelBar">
			<div class="pages">
				<span>每页显示</span>
				<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
				{% include "common/select.html" %}
				</select>
				<span>条,共{{ logs.paginator.count }}条&nbsp;&nbsp;{{ currentPage }}/{{ logs.paginator.num_pages }}</span>
			</div>
			<div class="pagination" targetType="navTab" totalCount="{{ logs.paginator.count }}" numPerPage="{{ logs.paginator.per_page }}" pageNumShown="10" currentPage="{{ currentPage }}"></div>
		</div>
		
	</div>
</div>