<div class="page">
	<div class="pageContent">
	
	<form method="post" action="{% url action_edit action.id %}" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<input type="hidden" name="navTabId" value="actionindex"/>
		<div class="pageFormContent" layoutH="58">

			<div class="unit">
				<label>类型：</label>
				<input type="text" size="30" name="action_type" value="{{ action.action_type }}" readonly="readonly" />
			</div>
			<div class="unit">
				<label>名称：</label>
				<input type="text" size="30" name="name" value="{{ action.name }}" readonly="readonly"/>
			</div>

            <div class="unit">
				<label>操作系统：</label>
				<input type="text" size="30" name="run_os" value="{{ action.run_os }}" />
			</div>
			<div class="unit">
				<label>操作：</label>
				<textarea name="action_cmd" rows="10" cols="57">{{ action.action_cmd }}</textarea>
			</div>			
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	</div>
</div>