<option value="10" {% ifequal '10' numPerPage %} selected="selected" {% endifequal %} >10</option>
<option value="15" {% ifequal '15' numPerPage %} selected="selected" {% endifequal %} >15</option>
<option value="20" {% ifequal '20' numPerPage %} selected="selected" {% endifequal %} >20</option>
<option value="50" {% ifequal '50' numPerPage %} selected="selected" {% endifequal %} >50</option>
<option value="100" {% ifequal '100' numPerPage %} selected="selected" {% endifequal %} >100</option>
